/* Auteur: Alexeï Czornyj */

@import "main_style.css";

/**************************************
* La grille qui contient mise en page *
**************************************/

.grid{
    display: grid;
    grid-template-areas:
    'left middle-left middle-right right';
    grid-column-gap: 10px;
    height: 80%;
}

/*******************************************
* Les différents emplacements de la grille *
*******************************************/

#left,
#middle-left,
#middle-right,
#right {
    padding: 5px;
}

/*********************************
* Element de gauche de la grille *
*********************************/

#left {
    grid-area: left;
}

/****************************************
* Premier enfant de l'element de gauche *
****************************************/

#left:first-child{
    margin-bottom: 40px;
}

/*****************************
* Element du milieu à gauche *
*****************************/

#middle-left{
    display: flex;
    flex-flow: column;
    grid-area: middle-left;
}

/*****************************
* Element du milieu à droite *
*****************************/

#middle-right {
    grid-area: middle-right;
}

/********************
* Element de droite *
********************/

#right {
    grid-area: right;
}

/*****************************************************
* Entête du tableau contenu dans l'élément de droite *
*****************************************************/

#right table thead{
    font-style: italic;
}

/**************************************
* Image située au milieu à gauche *
**************************************/

#middle-right img{
    padding-top: 30px;
}