/* Auteur: Alexeï Czornyj */

body{
    margin: 0 auto;
}

table {
    padding: 10px;
}

a[href]{
    text-decoration: none;
    color: inherit;
}

header.en-tete {
    background: url('../Images/background.jpg');
    background-size: cover;
    height: 20vh;
    padding: 25px;
}

header{
    display: flex;
    align-items: center;
}

header img {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    align-self: center;
    margin-top: auto;
}

#main-title{
    color: black;
    font-size: 60px;
    padding: 10px 50px;
    font-weight: 100;
}

#main-title::before{
    all: unset;
}

/* menu de navigation */

nav ul{
    display: flex;
    width: 150%;
    justify-content: space-between;
}

nav > ul > li{
    font-size: 150%;
    color: white;
}

h2, h3{
    font-size: 50px;
    font-weight: 100;
    position: relative;
}

h3{
    font-size: 35px;
    padding: 5px;
}

h2::before, h3::before{
    content: "";
    position: absolute;
    background-color: #ff0000;
    width: 50px;
    height: 7px;
    bottom: 0;
}

h3::before{
    height: 5px;
}

.fiches{
    padding-left: 30px;
}

.affiches{
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.affiche {
    min-width: 350px;
    height: 500px;
    flex: 1;
}

a img:hover{
    height: 510px;
    width: 360px;
}

footer p{
    text-align: center;
}

/**************************************
* La grille qui contient mise en page *
**************************************/

.grid-container {
    display: grid;
    grid-template-areas:
    'left middle-left middle-left middle-right middle-right right';
    grid-column-gap: 10px;
    height: 80%;
}

/*******************************************
* Les différents emplacements de la grille *
*******************************************/

#left,
#middle-left,
#middle-right,
#right {
    padding: 5px;
}

/*********************************
* Element de gauche de la grille *
*********************************/

#left {
    grid-area: left;
}

/****************************************
* Premier enfant de l'element de gauche *
****************************************/

#left:first-child{
    margin-bottom: 40px;
}

/******************************************************************
* Liste non ordonnée et contenu de liste dans l'element de gauche *
******************************************************************/

#left > ul, li{
    list-style: none;


}

/*****************************
* Element du milieu à gauche *
*****************************/

#middle-left{
    display: flex;
    flex-flow: column;
    grid-area: middle-left;
}

/*****************************
* Element du milieu à droite *
*****************************/

#middle-right {
    grid-area: middle-right;
}

/********************
* Element de droite *
********************/

#right {
    grid-area: right;
}

/*****************************************************
* Entête du tableau contenu dans l'élément de droite *
*****************************************************/

#right table thead{
    font-style: italic;
}

#middle-right img{
    padding-top: 30px;
}

div ol li{
    font-size: large;
    padding: 5px;
}