@import "main_style.css";

form{
    display: flex;
    justify-content: space-around;
}

form input, form textarea {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

form input[type=submit]{
    width: auto ;
}