/* Auteur: Styven Drui */

@import "main_style.css";

form {
    padding: 5em;
    margin: auto;
    text-align: center;
}

label[for*="comment"] {
    margin-left: 25%;
    display: flex;
}

table {
    text-align: center;
    margin: auto;
    padding: 2em;
}