/* Auteur: Alexeï Czornyj */

/*******************
* Corps de la page *
********************/
body{
    margin: 0 auto;
}

/************
* Element p *
************/
p{
    padding: 5px;
}

/*********************
* Tableau de données *
**********************/
table {
    padding: 10px;
}
/****************************************************
* Listes ordonnées, non ordonnées et leurs éléments *
****************************************************/

ul, ol, li{
    list-style: none;
}

/***********************************
* Elements contenus dans une liste *
***********************************/

ol li{
    font-size: large;
    padding: 5px;
}

/**************************************
* Lien contenant l'attribut href *
**************************************/

a[href]{
    text-decoration: none;
    color: inherit;
}

/***********
*  header *
***********/

header {
    background: url('../Images/background.jpg');
    background-size: cover;
    height: 20vh;
    padding: 25px;
    display: flex;
    align-items: center;
}

/*****************************
* Image contenue dans header *
******************************/

header img {
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    align-self: center;
    margin-top: auto;
}

/***********************************
* Liste dans le menu de navigation *
***********************************/

nav ul{
    display: flex;
    width: 150%;
    justify-content: space-between;
}

/***********************************************************************
* Elements contenus dans une liste contenue dans un menu de navigation *
***********************************************************************/

nav > ul > li{
    font-size: 150%;
    color: white;
}

/***************************
* Titres de niveaux 2 et 3 *
***************************/

h2, h3{
    font-size: 50px;
    font-weight: 100;
    position: relative;
}

/*********************
* Titres de niveau 3 *
*********************/

h3{
    font-size: 35px;
    padding: 5px;
}

/*****************************************************************
* Propriété de l'espace situé avant les titres de niveaux 2 et 3 *
*****************************************************************/

h2::before, h3::before{
    content: "";
    position: absolute;
    background-color: #ff0000;
    width: 50px;
    height: 7px;
    bottom: 0;
}

/***********************************************************
* Propriété de l'espace situé avant les titres de niveau 3 *
***********************************************************/

h3::before{
    height: 5px;
}

/***************
* Pied de page *
***************/

footer{
    display: flex;
    justify-content: space-around;
}